---
import { postsAll, pages, settings } from '../data/ghost-store';

import BaseLayout from '../layouts/BaseLayout.astro';
import Head from '../components/Head.astro';
import Comments from '../components/Comments.astro';
import Relitu from '../components/Relitu';
import TocTagloop from '../components/TocTagloop.astro';
import Header from '../components/Header.astro';
import Top from '../components/Top.astro';
import Menu from '../components/Menu.astro';
import { Markup } from 'astro-remote';
import CodeSlot from '../components/CodeSlot.astro';
import IFrameSlot from '../components/IFrameSlot.astro';
import PostMeta from '../components/PostMeta.astro';
import RemotePicture from '../components/RemotePicture.astro';
import Footer from '../components/Footer.astro';
import Now from '../components/shortcode/Now.astro';
import Columns from '../components/shortcode/Columns.astro';
import Details from '../components/shortcode/Details.astro';
import Link from '../components/shortcode/Link.astro';
import OGCard from '../components/shortcode/OGCard.astro';

const page = pages.find((post) => post.slug == 'about-now');
---

<BaseLayout>
    <Head slot="head" post={page} site={settings} title={page?.title + ' | ' + settings?.title + ' - ' + settings?.description} />

    <Header slot="header" title={page.title} />
    <Menu slot="menu" />

    <div slot="content" class="markdown book-article">
        <h1 class="book-title">{page.title}</h1>
        <PostMeta post={page} isFeature={true} />

        {
            page.html && (
                <Markup
                    content={page.html}
                    sanitize={{ allowComponents: true, allowCustomElements: true }}
                    components={{
                        pre: CodeSlot,
                        img: RemotePicture,
                        iframe: IFrameSlot,
                        details: Details,
                        columns: Columns,
                        Now: Now,
                        a: Link,
                        ogcard: OGCard
                    }}
                />
            )
        }
    </div>

    <Comments slot="comments" />
    <Footer slot="footer" post={page} />

    <Fragment slot="toc">
        <Relitu />
        <TocTagloop />
        <Top />
    </Fragment>
</BaseLayout>
