---
import { pages, settings, flux } from '../data/ghost-store.js';
import { normalizeData } from '../utils/help';

import BaseLayout from '../layouts/BaseLayout.astro';
import Head from '../components/Head.astro';
import Comments from '../components/Comments.astro';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import PostMeta from '../components/PostMeta.astro';
import { Markup } from 'astro-remote';
import CodeSlot from '../components/CodeSlot.astro';
import IFrameSlot from '../components/IFrameSlot.astro';
import RemotePicture from '../components/RemotePicture.astro';
import Columns from '../components/shortcode/Columns.astro';
import Details from '../components/shortcode/Details.astro';
import Link from '../components/shortcode/Link.astro';

const page = pages.find((post) => post.slug == 'links');
---

<BaseLayout post={page}>
    <Head slot="head" post={page} site={settings} title={page?.title + ' | ' + settings?.title + ' - ' + settings?.description} />

    <Header slot="header" title={page.title} />
    <Menu slot="menu" />

    <article slot="content" class="markdown book-article">
        <h1 class="book-title">{page.title}</h1>
        <PostMeta post={page} isFeature={true} />

        {
            page.html && (
                <Markup
                    content={page.html}
                    sanitize={{ allowComponents: true, allowCustomElements: true }}
                    components={{ pre: CodeSlot, img: RemotePicture, iframe: IFrameSlot, details: Details, columns: Columns, a: Link }}
                />
            )
        }
        <div class="book-columns flex flex-wrap">
            {
                flux.map((item) => (
                    <div class="flex-even markdown-inner">
                        <h3 class="book-title flex">
                            <img loading="lazy" style="width: 1.5em;margin-right: 0.3em;" src={'https://favicon.splitbee.io/?url=' + item.feed.site_url} />
                            <Link href={item.feed.site_url} class="ellipsis" target="_blank">
                                {item.feed.title}
                            </Link>
                        </h3>
                        <div>
                            <em>{item.feed.description}</em>
                            <span>{normalizeData(item.published_at)}</span>
                        </div>
                        <div class="ellipsis">
                            <Link href={item.url} class="ellipsis" target="_blank">
                                {item.title}
                            </Link>
                        </div>
                    </div>
                ))
            }
        </div>
    </article>
    <Comments slot="comments" />
</BaseLayout>
