---
import { pages, settings, neodb } from '../utils/ghost-store.js';

import BaseLayout from '../layouts/BaseLayout.astro';
import Head from '../components/Head.astro';
import Comments from '../components/Comments.astro';
import Relitu from '../components/Relitu.jsx';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import FullLayout from '../layouts/FullLayout.astro';

const page = pages.find((post) => post.slug == 'map');
---

<BaseLayout post={page}>
    <Head slot="head" post={page} site={settings} title={page?.title + ' | ' + settings?.title + ' - ' + settings?.description} />

    <Header slot="header" title={page.title} />
    <Menu slot="menu" />

    <article slot="content" class="markdown book-article">
        <h1 class="book-title">{page.title}</h1>
        <Fragment set:html={page.html} />

        <script>
            import initMap from '../utils/map';

            document.addEventListener('astro:page-load', () => {
                initMap();
            });
        </script>
        <div class="page-map">
            <div id="map" style="width: 100%; " class="footer-map"></div>
        </div>
    </article>

    <Comments slot="comments" />

    <Relitu slot="relitu" />
</BaseLayout>
