---
import { getSvg } from '../utils/help';

import { settings as site } from '../utils/ghost-store';
---

<h2 class="book-brand">
    <script>
        import initWebSocket from '../utils/actives';
        import tippy from 'tippy.js';

        document.addEventListener('astro:page-load', () => {
            const actives = tippy('.actives img', {
                placement: 'right',
                maxWidth: 300
            });
            initWebSocket(actives);
        });
    </script>
    <a class="flex align-center" href="/" title="">
        {
            site.icon && (
                <div class="flex site-logo">
                    <div class="og-image bislight" style={'filter: blur(8px);height: 1.8em;width: 1.8em;background-image: url(/logo.svg);opacity: 1;'} />

                    <img src="/logo.svg" alt="Logo" alt={site.title} title={site.title} data-tippy-content={`${site.title} | ${site.description}`} />
                    <div class="actives">
                        <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                            data-tippy-content=""
                            data-tippy-placement="bottom-start"
                        />
                    </div>
                </div>
            )
        }
        <div class="flex flex-direction" aria-label=`${site.title} | ${site.description }`>
            <span class="site-title flex align-center">{site.title}<Fragment set:html={getSvg('check')} /></span>
            <span class="site-description ellipsis">{site.description}</span>
        </div>
    </a>
</h2>
