---
import { ViewTransitions } from 'astro:transitions';
import { settings } from '../data/ghost-store';
import { normalizeSlug } from '../utils/help';

const { post, title, url } = Astro.props;

let og_title,
    og_desc,
    og_url,
    og_img_desc,
    og_img = '';

if (post) {
    og_title = post.title;
    og_url = normalizeSlug(post.slug);
    og_desc = post.excerpt;
    og_img_desc = post?.excerpt
        ? post.excerpt
              .replace(/<\/?[^>]+(>|$)/g, '')
              .trim()
              .replace(/"/g, '')
        : settings.description.replace(/<\/?[^>]+(>|$)/g, '').trim();
    og_img = encodeURI(`https://og.190102.xyz/api/og?title=${og_title}&desc=${og_img_desc}&date=${new Date(post?.published_at).toISOString().split('T')[0]}`);
} else {
    og_title = settings.title;
    og_desc = settings.description;
    og_url = import.meta.env.SITE;
    og_img = encodeURI(`https://og.190102.xyz/api/og?title=${og_title}&desc=${og_desc}&date=1900-01-01`);
}
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={og_desc} />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#343a40" />
<meta name="color-scheme" content="light dark" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={og_desc} />
<meta property="og:image" content={og_img} />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={import.meta.env.SITE} />
<meta property="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={og_desc} />
<meta name="twitter:image" content={og_img} />

<ViewTransitions />

<link rel="sitemap" type="application/xml" title={`${settings.title}的站点地图`} href="/sitemap.xml" />
<link rel="alternate" type="application/rss+xml" title={`${settings.title}的Rss`} href="/rss.xml" />
<link rel="icon" href="/favicon.png" />
<link rel="canonical" href={og_url} />

<script>
    import mediumZoom from 'medium-zoom';
    import tippy from 'tippy.js';

    import 'tippy.js/dist/tippy.css';
    import 'medium-zoom/dist/style.css';

    const changeTheme = () => {
        const theme = localStorage.theme;
        if (localStorage.theme !== 'auto') {
            document.documentElement.classList.add(theme);
            document.body.setAttribute('data-theme', theme);

            localStorage.theme = theme;
            localStorage.themetype = localStorage.themetype || 'light';
        } else {
            const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
            localStorage.themetype = prefersDarkScheme ? 'dark' : 'light';
        }

        localStorage.name = localStorage.name || '自适应';
        localStorage.theme = theme || 'auto';
    };

    document.addEventListener('DOMContentLoaded', () => changeTheme());
    7;

    document.addEventListener('astro:page-load', () => {
        mediumZoom('.markdown img', {
            background: 'rgba(0,0,0,0.75)'
        });

        changeTheme();

        // Scroll to top function

        document.getElementById('scrollToTop').addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });

        const actives = tippy('.actives img', {
            placement: 'right',
            maxWidth: 300
        });

        const douban = tippy('.db--icon-comment', {
            placement: 'bottom',
            maxWidth: 300
        });

        const relitu = tippy('.item-info', {
            allowHTML: true,
            interactive: true,
            maxWidth: 'none',
            theme: 'auto',
            appendTo: () => document.body
        });
    });
</script>
