---
const { src, allowfullscreen, height, width, title, autoplay = 0 } = Astro.props;

const url = new URL(src.startsWith('//') ? `https:${src}` : src);
url.searchParams.set('autoplay', autoplay);
---

<div class="aspect-ratio">
    <iframe src={url.toString()} data-src={url.toString()} height={height} width={width} title={title} class="allowfullscreen" allowfullscreen={allowfullscreen}
    ></iframe>
</div>
