---
// 假设您已经在前面获取了 post 数据并将其传递给这个组件
import type { Tag } from '@ts-ghost/content-api';
import RemotePicture from './RemotePicture.astro';
import { normalizeSlug, normalizeData } from '../utils/help';
const { post, isFeature } = Astro.props;
---

<div>{normalizeData(post.published_at)}</div>

{
    post.tags && post.tags.length > 0 && (
        <div>
            {post.tags
                .filter((tag) => tag.visibility === 'public') // 过滤出可见的标签
                .map((tag, index, array) => (
                    <span key={tag.slug}>
                        <a href={`/tag${normalizeSlug(tag.slug)}`}>#{tag.name}</a>
                        {index < array.length - 1 && ', '} {/* 只有在不是最后一个元素时才添加逗号 */}
                    </span>
                ))}
        </div>
    )
}

{
    post.feature_image && isFeature && (
        <figure class="kg-card kg-image-card kg-width-wide kg-card-hascaption">
            <RemotePicture src={post.feature_image} alt={post.feature_image_caption} />
            <figcaption>
                <Fragment set:html={post.feature_image_caption} />
                <Fragment set:html={post.feature_image_alt} />
            </figcaption>
        </figure>
    )
}
